<li>
<!--
	<div class="product-overview">
		<div class="product-title">
		    <div class="tag company"><h2><a href="{{ item.perk.uri }}">{{ item.perk.company }}</a></h2></div>
		</div>
	</div>
	<div class="product-description">
		{{ item.description }}<br/><br/>
		{% for product in item.products %}<div class="tag category">{{ product }}</div>{% endfor %}
	</div>
	<div class="clear"></div>-->
	<h2>
		<img src="//plus.google.com/_/favicon?domain={{ item.perk.uri }}"/>
		<a href="{{ item.perk.uri }}">{{ item.perk.company }}</a>
	</h2>
	<!--<small>by <a href="{{ item.perk.uri }}">{{ item.perk.company }}</a></small>-->

	<span class="tags">
	{% for product in item.products %}<span class="tag category">{{ product }}</span>{% endfor %}
	</span>
	<p>{{ item.description }}</p>
</li>
